<h5 class="mb-4 step-indicator">
    <span class="checkout-step{% if step == 'login' %} step--active {% endif %}">1. Anmelden</span>
    <span class="step-indicator-divider"> - </span>
    <span class="checkout-step{% if step == 'register' %} step--active {% endif %}">2. Registrieren</span>
    <span class="step-indicator-divider"> - </span>
    <span class="checkout-step{% if step == 'confirm' %} step--active {% endif %}">3. Abschliessen</span>
</h5>
