<div class="mb-4 step-indicator">
    {% if current_step == 'login' %}
        {% set current_step_index = 0 %}
    {% elseif current_step == 'register' %}
        {% set current_step_index = 1 %}
    {% elseif current_step == 'confirm' %}
        {% set current_step_index = 2 %}
    {% else %}
        {% set current_step_index = 1 %}
    {% endif %}

    <span class="checkout-step{% if current_step is same as constant('CHECKOUT_STEP_LOGIN', controller) %} step--current{% endif %}{% if current_step_index > 0 %} step--done{% endif %}">1. Login</span>
    <span class="step-indicator-divider"> &#10140; </span>
    <span class="checkout-step{% if current_step is same as constant('CHECKOUT_STEP_REGISTER', controller) %} step--current{% endif %}{% if current_step_index > 1 %} step--done{% endif %}">2. Registrieren</span>
    <span class="step-indicator-divider"> &#10140; </span>
    <span class="checkout-step{% if current_step is same as constant('CHECKOUT_STEP_CONFIRM', controller) %} step--current{% endif %}{% if current_step_index > 2 %} step--done{% endif %}">3. Bestätigung</span>
</div>
