.git/

# Jetbrains
/.idea/*

# tools
/vendor/
/tools/*/vendor
/composer.lock
/.php-cs-fixer.cache
/.phpunit.result.cache
/.phpunit.cache/
/contao/languages/de/*
/translations/**/*.de.yaml

# Webpack
/node_modules/
/package-lock.json
