#tl_backend_home_screen_my_events {
  border-bottom: 1px solid var(--border);
  overflow-x: auto;
  padding: 0 15px 4px;

  #tl_backend_home_screen_my_events_inner {
    width: 100%;

    h2 {
      margin: 18px 0 12px;
    }


    & ul.tl_listing > li {
      border-bottom: 1px solid var(--border);
      padding: 10px 6px;
    }

    & ul.tl_listing > li.separator {
      color: var(--text);
      font-weight: 600;
      padding-top: 2rem;
    }

    & li.my-events-badge-col {
      width: 50px;
      @media (min-width: 576px) {
        width: 120px;
      }
      @media (min-width: 768px) {
        width: 180px;
      }

      @media (max-width: 576px) {
        & * {
          font-size: 11px !important;
        }

        & .subscription-badge {
          padding: 2px 5px;
        }
      }
    }

    & li.my-events-title-col {
      & a, & i {
        line-height: 1.2;
        @media (max-width: 576px) {
          font-size: 11px !important;
        }
      }

      img {
        height: 12px;
        width: 12px;
        @media (min-width: 576px) {
          height: 16px;
          width: 16px;
        }
      }


      @media (max-width: 576px) {
        & * {
          font-size: 11px !important;
        }
      }
    }

    & li.my-events-operation-col > * {
      color: #1a6b99;
    }

    & li.my-events-title-col > div.my-events-title-col--inner {
      display: flex;
      flex-direction: column;
      row-gap: .5rem;
      @media (min-width: 992px) {
        column-gap: .5rem;
        flex-direction: row;
        flex-wrap: nowrap;
      }
    }

    & .my-events-title-col > div.my-events-title-col--inner > div.my-events-title-col--date {
      min-width: 65px;
    }

    & .my-events-title-col--icon-and-title > a, & .my-events-title-col--icon-and-title {
      box-sizing: border-box;
      line-height: normal;
      min-height: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: break-word;
    }

    & li .filter-brightened {
      color: #6f7685;
    }

    & li .filter-green {
      color: #589b0f;
    }

    & li .filter-red {
      color: #d80128;
    }

    & .subscription-badge {
      margin-left: 4px !important;
    }
  }
}
