{% extends '@Contao/block_unsearchable' %}

{% block content %}

    <div>
        <a href="{{ jumpTo }}" class="btn btn-primary">
            <i class="fa-light fa-shopping-cart"></i> {{ eventRegCheckoutLinkLabel }}
        </a>
    </div>

{% endblock %}

