{% extends '@Contao/block_unsearchable' %}
{% block content %}
    <div>
        <a href="{{ jumpTo }}" class="btn btn-primary text-nowrap">
            <i class="fa-light fa-shopping-cart"></i>&nbsp;{{ eventRegCheckoutLinkLabel }}
        </a>
    </div>
{% endblock %}
