{% extends '@Contao/block_unsearchable' %}

{% block content %}

    {% if hasInfoMessage|default %}
        <div class="alert alert-info" role="alert">
            {{ infoMessage|raw }}
        </div>
    {% endif %}

    {% if hasInfoMessage|default %}
        {% for message in errorMessages %}
            <div class="alert alert-danger" role="alert">
                {{ message|raw }}
            </div>
        {% endfor %}
    {% endif %}

    {{ userProfileForm|raw }}

{% endblock %}
