services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false
        bind:
            $passwordHasherFactory: '@security.password_hasher_factory'
            $projectDir: '%kernel.project_dir%'
            $sacevtAvatarFemale: '%sacevt.avatar.female%'
            $sacevtAvatarMale: '%sacevt.avatar.male%'
            $sacevtEventAdminEmail: '%sacevt.event_admin_email%'
            $sacevtEventAdminName: '%sacevt.event_admin_name%'
            $sacevtEventCourseBookletFilenamePattern: '%sacevt.event.course.booklet_filename_pattern%'
            $sacevtEventCourseConfirmationFileNamePattern: '%sacevt.event.course_confirmation_file_name_pattern%'
            $sacevtEventMemberListFileNamePattern: '%sacevt.event.member_list_file_name_pattern%'
            $sacevtEventTemplateCourseConfirmation: '%sacevt.event.template.course_confirmation%'
            $sacevtEventTemplateMemberList: '%sacevt.event.template.member_list%'
            $sacevtEventTemplateTourInvoice: '%sacevt.event.template.tour_invoice%'
            $sacevtEventTemplateTourRapport: '%sacevt.event.template.tour_rapport%'
            $sacevtEventTourInvoiceFileNamePattern: '%sacevt.event.tour_invoice_file_name_pattern%'
            $sacevtEventTourRapportFileNamePattern: '%sacevt.event.tour_rapport_file_name_pattern%'
            $sacevtLocale: '%sacevt.locale%'
            $sacevtMemberSyncCredentials: '%sacevt.member_sync_credentials%'
            $sacevtTempDir: '%sacevt.temp_dir%'
            $sacevtUserBackendHomeDir: '%sacevt.user.backend.home_dir%'
            $sacevtUserBackendResetUserRightsOnSsoLogin: '%sacevt.user.backend.reset_user_rights_on_sso_login%'
            $sacevtUserFrontendAvatarDir: '%sacevt.user.frontend.avatar_dir%'

    _instanceof:
        Symfony\Bundle\FrameworkBundle\Controller\AbstractController:
            calls:
                - [ setContainer, [ '@service_container' ] ]

    Markocupic\SacEventToolBundle\:
        resource: ../src/
        exclude: ../src/{ContaoManager,Session,Config,Event,DependencyInjection,Resources,Model}

    # Add a session bag
    Markocupic\SacEventToolBundle\Session\Attribute\ArrayAttributeBag:
        arguments:
            - '_markocupic_sac_event_tool_attributes'
        calls:
            - [ setName, [ 'markocupic_sac_event_tool_attributes' ] ]

    # Generate docx/pdf event rapports, event invoices and event memberlists from docx templates
    Markocupic\SacEventToolBundle\DocxTemplator\Helper\Event:
        public: true

    # Generate docx/pdf event rapports, event invoices and event memberlists from docx templates
    Markocupic\SacEventToolBundle\DocxTemplator\Helper\EventMember:
        public: true

    Markocupic\SacEventToolBundle\Avatar\Avatar:
        public: true

