{% block body %}

    <script>
        let ending = '#fff';
        function buttonClick() {
            ending+='a';
            // Current URL: https://my-website.com/page_a
            const nextURL = 'https://test.sac-pilatus.ch/_urltest2/' + ending;
            const nextTitle = 'My new page title';
            const nextState = {additionalInformation: 'Updated the URL with JS'};

            // This will create a new entry in the browser's history, without reloading
            window.history.pushState(nextState, nextTitle, nextURL);

            console.log(window.location.href);
        }
    </script>

    <h1 class="">alpine.js Test</h1>
    <button id="button" onclick="buttonClick()">Test</button>

{% endblock %}
