<div id="tl_buttons">
    <a href="{{ back }}" class="header_back" title="" accesskey="b" onclick="Backend.getScrollOffset()">{{ 'MSC.backBTTitle'|trans({}, 'contao_default') }}</a>
</div>

<div class="notify-event_participant_form">
    <h1 class="headline">{{ headline }}</h1>
    {{ form|raw }}
</div>

<style type='text/css'>
    .notify-event_participant_form {
        border-top: 1px solid #e6e6e8;
    }

    .notify-event_participant_form .headline {
        margin: 15px 15px 40px 15px;
        font-size: 1.25rem;
        color: green;
    }

    .notify-event_participant_form .widget {
        margin-bottom: 40px;
        width: 100%;
        max-width: 800px;
    }

    .notify-event_participant_form input.text, .notify-event_participant_form textarea {
        width: 100%;
        padding: 4px;
    }

    .notify-event_participant_form label {
        display: block;
        margin: 12px 0 5px 0;
        font-weight: bold;
    }

    .notify-event_participant_form .submit {
        padding: 7px 12px;
        border: 1px solid #aaa;
        border-radius: 2px;
        box-sizing: border-box;
        cursor: pointer;
        background: #eee;
        transition: background .2s ease;
    }

</style>

<script>
    /**
     * Prevent multiple clicks
     * Disable Submit Button Upon Form Submission
     */
    window.addEventListener('DOMContentLoaded', (event) => {
        document.getElementById('tl_calendar_events_member').addEventListener('submit', () => {
            if (document.getElementById('ctrl_subject').value != '' && document.getElementById('ctrl_text').value != '') {
                document.getElementById('ctrl_submit').disabled = 1;
            }
        });
    });
</script>
